img{
    width: 400px;}
#thirdDiv{
    height: 600px;
    width: 500px;
    background: rgb(240, 240, 255);
    padding: 50px;
    border: 3mm ridge rgb(207, 164, 206);}
#spanId{
    font-size: 18px;
    margin: 50px;}    